<% if account_signed_in? %>
    <%= link_to 'Create New Publication', new_publication_path, class: "btn btn-outline-primary" %>
<% end %>
<br><br>

<% if @publications.size > 0 %>
    <% @publications.each do |publication| %>
        <div class="card p-2">
            <h3><%= link_to publication.name, publication %></h3>
            <%= simple_format publication.bio %>
        </div>
    <% end %>
<% else %>
    <p>No publications to display</p>
<% end %>


    
