<%= link_to 'Create New Post', new_publication_post_path(@publication), class: "btn btn-primary" %>
<br><br>

<h2><%= @publication.name %></h2>
<p><%= simple_format @publication.bio %></p>
<br><br>

<%= render partial: "posts/list", locals: {posts: @posts} %>